*{
    box-sizing: border-box;
}

.outer-container {
    width: 900px;
    height: 600px;
    background-color: rgb(35, 110, 208);
}

.internal-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.column {
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 234, 234);
}

.title {
    display: inline-block;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(55, 55, 93);
    font-size: 12px;
    padding: 14px;
}

.wrapper {
    position: relative;
}

.card {
    border: none;
    border-radius: 3px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.card.dragged {
    position: absolute;
    z-index: 999;
}

.card-content {
    position: relative;
    /* pointer-events: none; */
}

.card-text {
    display: inline-block;
    width: 260px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(55, 55, 93);
    padding: 5px;

    overflow-wrap: break-word;
    pointer-events: none;
}

.close {
    display: none;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgba(149, 149, 149, 0.1);
    top: 4px;
    left: 256px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}



.textarea {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 32px;
    max-height: 60px;
    margin-left: 5px;
    min-width: 276px;
    border: none;
    resize: none;
    color: rgb(55, 55, 93);
}

.textarea:focus {
    outline: 1px solid rgb(141, 240, 141);
}

.btn-open-textarea {
    font-size: 12px;
    color: rgb(114, 113, 113);
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.btn-add-card {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgb(61, 166, 61);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
}

.btn-add-card:hover {
    background-color: rgb(62, 186, 62);
}